*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.wraper{
    margin: auto;
    max-width: 960px;   

}

#btn-menu{
    display: none;
}

.cabecera label{
    display: none;
    
}

.cabecera{
    background-image: url(./src/image-hero.jpg);
}

.cabecera label:hover{
    cursor: pointer;
}

.cabecera1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.25rem;
    padding-left: 1.25rem;
}

.cabecera1-menu{
    display: flex;
    padding: 2rem;
}

.cabecera1-menu ul{
    display: flex;
    list-style: none;
    
}
.cabecera1-menu ul a{
    text-decoration: none;
    padding-right: 1.25rem;
    color: aliceblue;
}

.cabecera1 p{
    color: aliceblue;
}

.cabecera2 {
    height: 15.625rem;
    color: aliceblue;
    
}

.cabecera2-1{
    display: flex;
    align-items:flex-start;
    padding-top: 6.25rem;
}

.cabecera2-1-1{
    width: 10px;

}

.cabecera2-1-2{
    width: 250px;
    border: solid;
    height: 6.25rem;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
}

.cabecera2-1-3{
    width: 60px;
}

.cuerpo0{
    position:relative;
}

.cuerpo1{
    padding-top: 10%;
    padding-left: 10%;
}

.cuerpo1-img{
    width: 50%;
    height: 50%;
}

.cuerpo2{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 60%;
    left: 40%;
    background-color: rgb(240, 252, 255);
    text-align:start;
}

.creaciones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.25rem;
    padding-top: 5.625rem;
}

.boton-estilo{
    background-color: white;
    border: solid 1px rgb(19, 15, 15);

    box-shadow: 0px 2px 4px #0000003f;
    font-family: arial,sans-serif;
    font-weight: bold;
    padding: 10px 3em;
    cursor: pointer;
}

.fotos{
    display: flex;
    justify-content:center;
    padding-top: 20px;
}

.foto-img{
    width: 13.125rem;
    height: 18.75rem;
    padding-left: 5px;
    padding-bottom: 5px;
}

.pie{
    align-items: center;
    background-color: black;
    height: 9.375rem;
    color: #fff;
    padding-top: 10px;
    padding-left: 1.25rem;
    padding-right: 2.5rem;
    font-family: 'Open Sans', sans-serif;
}

.pie-menu{
    display: flex;
    padding: 2rem;
}

.pie-menu ul{
    display: flex;
    list-style: none;
    
}
.pie-menu ul a{
    text-decoration: none;
    padding-right: 1.25rem;
    color: aliceblue;
}

.pie-link{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-top: 1.25rem;
}

.pie-redes{
    display: flex;
    justify-content:flex-end;
}

.pie-redes div{
    padding-left: 1.25rem;
}

.pie-final{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-top: 0px;
}


@media(max-width:726px){
    .cabecera2-1, .creaciones{
        flex-direction: column;
    }

    .cuerpo0{
        position:sticky;
        align-items:center;
    }

    .cuerpo1, .cuerpo2{
        position: unset;
        top: 0%;
        left: 0%;
        align-items:center;
        text-align:center;
        width:auto;
    }

    .fotos{
        flex-direction: column;
        align-items:center;
     
    }
    
    .foto-img{
        width: 19.125rem;
        height: 12.75rem;
        padding-left: 5px;
        padding-bottom: 5px;
    }
    
    .pie{

        height: 19.375rem;

    }

    .pie-link{
        flex-direction: column;
    }
    
    .pie-final{
        flex-direction: column;
        align-items:center;
        text-align: center;
    }

    .cabecera1{
        /*flex-direction: column;*/
        align-items:center;
    }

    .cabecera1 label{
        display:block;
    }

    .cabecera1-img{
        display:block;
    }

    .cabecera1-menu ul{
        flex-direction: column;
        padding: 10px;
    }

    .cabecera1-menu li{
        /*border-top:1px solid #fff;*/
        justify-items: center;        
    }

    .pie-menu{
        flex-grow: 1;
        flex-direction: column;
        padding: 2rem;
    }
    
    .pie-menu ul{
        flex-direction: column;
        list-style: none;
        
    }

    #btn-menu:checked ~ .cabecera1-menu{

        margin-left: 190%;
        
    }

    
}

.overlay{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background-color: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;

    transition: .2 ease all;
    transform:scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBB;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover{
    color: black;
}

.popup h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

.popup h4{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
}



.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #af6bd6;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: #7c3ca1;
}

.popup.active {
    opacity: 1;
    transform: scale(1);
}
